*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    /* margin: 2rem 0rem 2rem 0rem; */
    color: lightgreen;
    margin: 1rem;
    padding: 1rem;
    border: 6px solid blue;
    background-color: black;
}

tr,
td {
    border: 5px solid rgb(8, 7, 8);
    padding: 2rem 2rem;
}

table 
{
    border: 3px solid darkgray;
}